[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/franciszayek
[access "refs/for/refs/*"]
	read = group user/franciszayek
	push = group user/franciszayek
	label-Code-Review = -2..+2 group user/franciszayek
	label-Verified = -1..+1 group user/franciszayek
	rebase = group user/franciszayek
	removeReviewer = group user/franciszayek
	submit = group user/franciszayek
[access "refs/heads/*"]
	read = group user/franciszayek
	create = group user/franciszayek
	push = +force group user/franciszayek
	pushMerge = group user/franciszayek
[access "refs/tags/*"]
	push = +force group user/franciszayek
	pushTag = group user/franciszayek
	pushSignedTag = group user/franciszayek
